In [1]:
import pandas as pd

Cargar datos

In [2]:
# Importamos el dataset de los datos de los pokemon
df = pd.read_csv("dataset_final.csv")

In [3]:
df.head(5)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [32]:
'''
1. ¿Cuántos pokémon hay en el dataset?
'''

print(f"Hay {len(df)} pokémons en el dataset.")

Hay 800 pokémons en el dataset.

In [33]:
'''
2. ¿Cuántos pokémon hay de tipo Poison? (Type 1)
'''

poison = df[df["Type 1"] == "Poison"]
print(f"Hay {len(poison)} pokémons de tipo Poison en el dataset.")

Hay 28 pokémons de tipo Poison en el dataset.

In [34]:
'''
3. ¿Cuántos tipos diferentes de pokémon hay? (Type 1)
'''
number_of_types = df["Type 1"].nunique()
print(f"Hay {number_of_types} tipos diferentes de pokémons en el dataset.")

Hay 18 tipos diferentes de pokémons en el dataset.

In [67]:
'''
2. ¿Cuántos pokémon hay de cada tipo? (Type 1)
'''
type_counts = df["Type 1"].value_counts().rename_axis('Type').reset_index(name='pokémons')
print(type_counts)

'''
2.1 ¿cual es el tipo de pokémon con más pokémon? (Type 1)
'''

id_max_types = type_counts["pokémons"].idxmax()
max_type_name = type_counts["Type"][id_max_types]
max_type = type_counts["pokémons"][id_max_types]
print(f"\nEl tipo con más pokémons es {max_type_name}, con {max_type} pokémons.")

        Type  pokémons
0      Water       112
1     Normal        98
2      Grass        70
3        Bug        69
4    Psychic        57
5       Fire        52
6   Electric        44
7       Rock        44
8     Dragon        32
9     Ground        32
10     Ghost        32
11      Dark        31
12    Poison        28
13     Steel        27
14  Fighting        27
15       Ice        24
16     Fairy        17
17    Flying         4

El tipo con más pokémons es Water, con 112 pokémons.

In [64]:
'''
3. ¿Cuál es el pokémon más rápido?
'''

id_max_speed = df["Speed"].idxmax()

fastest_pokemon = df["Name"][id_max_speed]
max_speed = df["Speed"][id_max_speed]
print(f"El pokémon más rápido es {fastest_pokemon}, con velocidad {max_speed}.")

El pokémon más rápido es DeoxysSpeed Forme, con velocidad 180.

In [68]:
'''
4. ¿Cuántos pokemon tiene una defensa superior a 100?
'''
def_100 = df[df["Defense"] > 100]


'''
4.1 ¿Cuántos pokemon tiene una defensa superior a 100?
'''

print(f"Hay {len(def_100)} pokémons con defensa superior a 100.")

Hay 123 pokémons con defensa superior a 100.

In [80]:
'''
5. ¿Cuántos pokemon tiene una defensa superior a 100 y una velocidad superior a 100?
'''


def_sp = df[(df["Defense"] > 100) & (df["Speed"] > 100)]
print(f"Hay {len(def_sp)} pokémons con defensa y velocidad superior a 100.")

Hay 9 pokémons con defensa y velocidad superior a 100.

In [82]:
'''
6. Ordena el dataset por el tipo 1 y por el tipo 2
'''

ordered = df.sort_values(["Type 1", "Type 2"])
print(ordered)

       #                     Name Type 1    Type 2  Total   HP  Attack  \
656  595                   Joltik    Bug  Electric    319   50      47
657  596               Galvantula    Bug  Electric    472   70      77
231  214                Heracross    Bug  Fighting    500   80     125
232  214  HeracrossMega Heracross    Bug  Fighting    600   80     185
697  636                 Larvesta    Bug      Fire    360   55      85
..   ...                      ...    ...       ...    ...  ...     ...
655  594                Alomomola  Water       NaN    470  165      75
724  656                  Froakie  Water       NaN    314   41      56
725  657                Frogadier  Water       NaN    405   54      63
762  692                Clauncher  Water       NaN    330   50      53
763  693                Clawitzer  Water       NaN    500   71      73

     Defense  Sp. Atk  Sp. Def  Speed  Generation  Legendary
656       50       57       50     65           5      False
657       60       97       60    108           5      False
231       75       40       95     85           2      False
232      115       40      105     75           2      False
697       55       50       55     60           5      False
..       ...      ...      ...    ...         ...        ...
655       80       40       45     65           5      False
724       40       62       44     71           6      False
725       52       83       56     97           6      False
762       62       58       63     44           6      False
763       88      120       89     59           6      False

[800 rows x 13 columns]

In [83]:
'''
7. Crea un nuevo dataset con los pokémon de tipo Water y Fire como primer tipo

'''

fire_water = df[(df["Type 1"] == "Fire") | (df["Type 1"] == "Water")]

print(fire_water[["Name", "Type 1"]])

                          Name Type 1
4                   Charmander   Fire
5                   Charmeleon   Fire
6                    Charizard   Fire
7    CharizardMega Charizard X   Fire
8    CharizardMega Charizard Y   Fire
..                         ...    ...
735                     Litleo   Fire
736                     Pyroar   Fire
762                  Clauncher  Water
763                  Clawitzer  Water
799                  Volcanion   Fire

[164 rows x 2 columns]

In [84]:
'''
8. Crea un nuevo dataset con los pokemon Legendary
'''

legendary = df[df["Legendary"] == True]
print(legendary)

       #                 Name    Type 1    Type 2  Total   HP  Attack  \
156  144             Articuno       Ice    Flying    580   90      85
157  145               Zapdos  Electric    Flying    580   90      90
158  146              Moltres      Fire    Flying    580   90     100
162  150               Mewtwo   Psychic       NaN    680  106     110
163  150  MewtwoMega Mewtwo X   Psychic  Fighting    780  106     190
..   ...                  ...       ...       ...    ...  ...     ...
795  719              Diancie      Rock     Fairy    600   50     100
796  719  DiancieMega Diancie      Rock     Fairy    700   50     160
797  720  HoopaHoopa Confined   Psychic     Ghost    600   80     110
798  720   HoopaHoopa Unbound   Psychic      Dark    680   80     160
799  721            Volcanion      Fire     Water    600   80     110

     Defense  Sp. Atk  Sp. Def  Speed  Generation  Legendary
156      100       95      125     85           1       True
157       85      125       90    100           1       True
158       90      125       85     90           1       True
162       90      154       90    130           1       True
163      100      154      100    130           1       True
..       ...      ...      ...    ...         ...        ...
795      150      100      150     50           6       True
796      110      160      110    110           6       True
797       60      150      130     70           6       True
798       60      170      130     80           6       True
799      120      130       90     70           6       True

[65 rows x 13 columns]

In [86]:
'''
9. Calcula el promedio de stats de los pokemon Legendary (HP, Attack, Defense, Sp. Atk, Sp. Def, Speed) y los no Legendary
'''
non_legendary = df[df["Legendary"] == False]
legendary = df[df["Legendary"] == True]

nl_means = non_legendary[["HP", "Attack", "Defense", "Sp. Atk", "Sp. Def", "Speed"]].mean()

lg_means = legendary[["HP", "Attack", "Defense", "Sp. Atk", "Sp. Def", "Speed"]].mean()

nl_means = nl_means.to_frame("Non Legendary")
lg_means = lg_means.to_frame("Legendary")
print(nl_means)
print()
print(lg_means)

         Non Legendary
HP           67.182313
Attack       75.669388
Defense      71.559184
Sp. Atk      68.454422
Sp. Def      68.892517
Speed        65.455782

          Legendary
HP        92.738462
Attack   116.676923
Defense   99.661538
Sp. Atk  122.184615
Sp. Def  105.938462
Speed    100.184615

In [31]:
'''
10. Crea un nuevo dataframe con el resultado del anterior ejercicio comparando ambos promedios

ejemplo:
                HP  Attack  Defense  Sp. Atk  Sp. Def  Speed
Legendary       99      90       89       91       94     90
No Legendary    80      95       75       12       43     87

'''


means = pd.merge(lg_means, nl_means, right_index = True, left_index = True)
means = means.T
print(means)

                      HP      Attack    Defense     Sp. Atk     Sp. Def  \
Legendary      92.738462  116.676923  99.661538  122.184615  105.938462
Non Legendary  67.182313   75.669388  71.559184   68.454422   68.892517

                    Speed
Legendary      100.184615
Non Legendary   65.455782

In [87]:
'''
11. Añade una nueva colunma ['Doble tipo'] al dataframe inicial que inndique si el pokemo tiene dos tipos o no
'''

##not null
df["Doble tipo"] = df["Type 2"].notnull()

print(df)

       #                   Name   Type 1  Type 2  Total  HP  Attack  Defense  \
0      1              Bulbasaur    Grass  Poison    318  45      49       49
1      2                Ivysaur    Grass  Poison    405  60      62       63
2      3               Venusaur    Grass  Poison    525  80      82       83
3      3  VenusaurMega Venusaur    Grass  Poison    625  80     100      123
4      4             Charmander     Fire     NaN    309  39      52       43
..   ...                    ...      ...     ...    ...  ..     ...      ...
795  719                Diancie     Rock   Fairy    600  50     100      150
796  719    DiancieMega Diancie     Rock   Fairy    700  50     160      110
797  720    HoopaHoopa Confined  Psychic   Ghost    600  80     110       60
798  720     HoopaHoopa Unbound  Psychic    Dark    680  80     160       60
799  721              Volcanion     Fire   Water    600  80     110      120

     Sp. Atk  Sp. Def  Speed  Generation  Legendary  Doble tipo
0         65       65     45           1      False        True
1         80       80     60           1      False        True
2        100      100     80           1      False        True
3        122      120     80           1      False        True
4         60       50     65           1      False       False
..       ...      ...    ...         ...        ...         ...
795      100      150     50           6       True        True
796      160      110    110           6       True        True
797      150      130     70           6       True        True
798      170      130     80           6       True        True
799      130       90     70           6       True        True

[800 rows x 14 columns]

In [88]:
'''
12. Muestra las columas Name, Type 1, Type 2 de los pokémon que tienen dos tipos y ordenalos por Type 1 , Type 2 y Name
'''

two_types = df[df["Doble tipo"] == True]
two_types[["Name", "Type 1", "Type 2"]].sort_values(["Type 1", "Type 2", "Name"])

                        Name Type 1    Type 2
657               Galvantula    Bug  Electric
656                   Joltik    Bug  Electric
231                Heracross    Bug  Fighting
232  HeracrossMega Heracross    Bug  Fighting
697                 Larvesta    Bug      Fire
..                       ...    ...       ...
626               Carracosta  Water      Rock
240                  Corsola  Water      Rock
404                Relicanth  Water      Rock
625                 Tirtouga  Water      Rock
440                 Empoleon  Water     Steel

[414 rows x 3 columns]

In [100]:
from functools import reduce

'''
13. Dada una lista de Artículos con sus precio. Define las siguientes funciones:
Puedes definir más funciones si lo consideras necesario.
'''
articulos = {
    'Camisa': 20,
    'Pantalón': 30,
    'Calcetines': 5,
    'Zapatos': 50,
    'Gorra': 10,
    'Bufanda': 15,
    'Gafas': 25,
    'Reloj': 35,
    'Corbata': 40,
}

compra = ['Camisa', 'Pantalón', 'Pantalón', 'Gorra', 'Gafas', 'Corbata']


# A. Una función que calcule el precio total de la compra

def precio(compra):
    return reduce(lambda x, y: x+y, list(map(lambda x: articulos[x], compra)))

print(f"El precio de la compra es {precio(compra)}.")
# B. Una función que calcule el precio total de la compra con un descuento del 10%
def precio_descuento10(compra):
    precio_sin_descuento = precio(compra)
    return 0.9*precio_sin_descuento

print(f"El precio con 10% de descuento es {precio_descuento10(compra)}.")

# C. Una función que calcule el precio total de la compra con un descuento del 10% si la compra supera los 100€

def precio_pos_des(compra):
    precio_sin_descuento = precio(compra)
    if precio_sin_descuento > 100:
        precio_final = 0.9*precio_sin_descuento
    else:
        precio_final = precio_sin_descuento
    return precio_final

# D. Una función que calcule el precio total aplicando el IVA (21%)
def precio_iva(compra):
    precio_sin_iva = precio(compra)
    precio_con_iva = 1.21*precio_sin_iva
    return precio_con_iva

print(f"El precio con IVA es {precio_iva(compra)}.")

# E.lista los artículos cuyo precio es superior a 20€
def sup_20(compras):
    return list(filter(lambda x: articulos[x] > 20, compras))

print(f"Los artíclos cuyo precio es superior a 20€ son {', '.join(sup_20(compra)).lower()}.")

El precio de la compra es 155.
El precio con 10% de descuento es 139.5.
El precio con IVA es 187.54999999999998.
Los artíclos cuyo precio es superior a 20€ son pantalón, pantalón, gafas, corbata.

In [95]:
'''
14. Dada una lista de tuplas con el nombre de un alumno, apellidos, curso y sus notas. 

 Define una funcion que reciba el curso y saque una lista en la que aparezca e nombre y apellidos y el promedio de sus notas.
 Puedes definir más funciones si lo consideras necesario.
'''

alumnos = [('Juan', 'Pérez', '1', [5, 6, 7, 8, 9]),
            ('Ana', 'García', '2', [5, 6, 7, 8, 9]),
            ('Luis', 'González', '1', [5, 6, 7, 8, 9]),
            ('María', 'Martínez', '2', [5, 6, 7, 8, 9]),
            ('Pedro', 'Rodríguez', '1', [5, 6, 7, 8, 9]),
            ('Lucía', 'Hernández', '2', [5, 6, 7, 8, 9]),
            ('Marta', 'López', '1', [5, 6, 7, 8, 9]),
            ('Sara', 'Díaz', '2', [5, 6, 7, 8, 9]),
            ('Javier', 'Sánchez', '1', [5, 6, 7, 8, 9]),
            ('Miguel', 'Fernández', '2', [5, 6, 7, 8, 9]),
            ('Sergio', 'Jiménez', '1', [5, 6, 7, 8, 9]),
            ('Sandra', 'Ruiz', '2', [5, 6, 7, 8, 9]),
            ('Pablo', 'Álvarez', '1', [5, 6, 7, 8, 9]),
            ('María', 'Gómez', '2', [5, 6, 7, 8, 9]),
]

def avg(array):
    return sum(array)/len(array)

def alumno_avg(alumno):
    new_tuple = (alumno[0], alumno[1], alumno[2], avg(alumno[3]))
    return new_tuple
    
def get_students(curso, lista_alumnos):
    return list(map(lambda x: alumno_avg(x), (filter(lambda x: x[2] == curso, lista_alumnos))))

print("Curso 1:")
print(get_students("1", alumnos))
print("\nCurso 2:")
print(get_students("2", alumnos))

Curso 1:
[('Juan', 'Pérez', '1', 7.0), ('Luis', 'González', '1', 7.0), ('Pedro', 'Rodríguez', '1', 7.0), ('Marta', 'López', '1', 7.0), ('Javier', 'Sánchez', '1', 7.0), ('Sergio', 'Jiménez', '1', 7.0), ('Pablo', 'Álvarez', '1', 7.0)]

Curso 2:
[('Ana', 'García', '2', 7.0), ('María', 'Martínez', '2', 7.0), ('Lucía', 'Hernández', '2', 7.0), ('Sara', 'Díaz', '2', 7.0), ('Miguel', 'Fernández', '2', 7.0), ('Sandra', 'Ruiz', '2', 7.0), ('María', 'Gómez', '2', 7.0)]