In [5]:
import pandas as pd

Cargar datos

In [6]:
# Importamos el dataset de los datos de los pokemon
df = pd.read_csv("dataset_final.csv")

In [7]:
df.head(5)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [8]:
'''
1. ¿Cuántos pokémon hay en el dataset?
'''
len(df)

800

In [9]:
'''
2. ¿Cuántos pokémon hay de tipo Poison? (Type 1)
'''

poison = df[df["Type 1"] == "Poison"]
len(poison)

28

In [10]:
'''
3. ¿Cuántos tipos diferentes de pokémon hay? (Type 1)
'''
df["Type 1"].nunique()

18

In [11]:
'''
2. ¿Cuántos pokémon hay de cada tipo? (Type 1)
'''
type_counts = df["Type 1"].value_counts().rename_axis('Type').reset_index(name='counts')
print(type_counts)

'''
2.1 ¿cual es el tipo de pokémon con más pokémon? (Type 1)
'''

print()
max_type = type_counts["counts"].max()
##idmax
type_counts[type_counts["counts"] == max_type]

        Type  counts
0      Water     112
1     Normal      98
2      Grass      70
3        Bug      69
4    Psychic      57
5       Fire      52
6   Electric      44
7       Rock      44
8      Ghost      32
9     Dragon      32
10    Ground      32
11      Dark      31
12    Poison      28
13     Steel      27
14  Fighting      27
15       Ice      24
16     Fairy      17
17    Flying       4

    Type  counts
0  Water     112

In [12]:
'''
3. ¿Cuál es el pokémon más rápido?
'''
max_speed = df["Speed"].max()

df[df["Speed"] == max_speed]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
431,386,DeoxysSpeed Forme,Psychic,NaN,600,50,95,90,95,90,180,3,True

In [13]:
'''
4. ¿Cuántos pokemon tiene una defensa superior a 100?
'''
def_100 = df[df["Defense"] > 100]


'''
4.1 ¿Cuántos pokemon tiene una defensa superior a 100?
'''

print(len(def_100))
def_100[["Name", "Defense"]]

123

                          Name  Defense
3        VenusaurMega Venusaur      123
7    CharizardMega Charizard X      111
12     BlastoiseMega Blastoise      120
33                   Sandslash      110
81                    Graveler      115
..                         ...      ...
789                    Avalugg      184
794           Zygarde50% Forme      121
795                    Diancie      150
796        DiancieMega Diancie      110
799                  Volcanion      120

[123 rows x 2 columns]

In [14]:
'''
5. ¿Cuántos pokemon tiene una defensa superior a 100 y una velocidad superior a 100?
'''
def_100 = df[df["Defense"] > 100]
sp_100 = def_100[def_100["Speed"] > 100]



print(len(sp_100))

sp_100[["Name", "Speed", "Defense"]]

9

                        Name  Speed  Defense
137        PinsirMega Pinsir    105      120
269                    Lugia    110      130
409  SalamenceMega Salamence    120      130
413  MetagrossMega Metagross    110      150
418        LatiasMega Latias    110      120
552                   Arceus    120      120
693                   Durant    109      112
699                 Cobalion    108      129
796      DiancieMega Diancie    110      110

In [15]:
'''
6. Ordena el dataset por el tipo 1 y por el tipo 2
'''

ordered = df.sort_values(["Type 1", "Type 2"])
ordered[["Name", "Type 1", "Type 2"]]

                        Name Type 1    Type 2
656                   Joltik    Bug  Electric
657               Galvantula    Bug  Electric
231                Heracross    Bug  Fighting
232  HeracrossMega Heracross    Bug  Fighting
697                 Larvesta    Bug      Fire
..                       ...    ...       ...
655                Alomomola  Water       NaN
724                  Froakie  Water       NaN
725                Frogadier  Water       NaN
762                Clauncher  Water       NaN
763                Clawitzer  Water       NaN

[800 rows x 3 columns]

In [16]:
'''
7. Crea un nuevo dataset con los pokémon de tipo Water y Fire como primer tipo

'''
##isin

fire_water = df[(df["Type 1"] == "Fire") | (df["Type 1"] == "Water")]

fire_water[["Name", "Type 1"]]

                          Name Type 1
4                   Charmander   Fire
5                   Charmeleon   Fire
6                    Charizard   Fire
7    CharizardMega Charizard X   Fire
8    CharizardMega Charizard Y   Fire
..                         ...    ...
735                     Litleo   Fire
736                     Pyroar   Fire
762                  Clauncher  Water
763                  Clawitzer  Water
799                  Volcanion   Fire

[164 rows x 2 columns]

In [17]:
'''
8. Crea un nuevo dataset con los pokemon Legendary
'''

legendary = df[df["Legendary"] == True]
legendary[["Name", "Legendary"]]

                    Name  Legendary
156             Articuno       True
157               Zapdos       True
158              Moltres       True
162               Mewtwo       True
163  MewtwoMega Mewtwo X       True
..                   ...        ...
795              Diancie       True
796  DiancieMega Diancie       True
797  HoopaHoopa Confined       True
798   HoopaHoopa Unbound       True
799            Volcanion       True

[65 rows x 2 columns]

In [20]:
'''
9. Calcula el promedio de stats de los pokemon Legendary (HP, Attack, Defense, Sp. Atk, Sp. Def, Speed) y los no Legendary
'''
non_legendary = df[df["Legendary"] == False]
legendary = df[df["Legendary"] == True]

nl_means = non_legendary[["HP", "Attack", "Defense", "Sp. Atk", "Sp. Def", "Speed"]].mean()

lg_means = legendary[["HP", "Attack", "Defense", "Sp. Atk", "Sp. Def", "Speed"]].mean()

print(nl_means)
print()
print(lg_means)
print()

HP         67.182313
Attack     75.669388
Defense    71.559184
Sp. Atk    68.454422
Sp. Def    68.892517
Speed      65.455782
dtype: float64

HP          92.738462
Attack     116.676923
Defense     99.661538
Sp. Atk    122.184615
Sp. Def    105.938462
Speed      100.184615
dtype: float64

In [22]:
'''
10. Crea un nuevo dataframe con el resultado del anterior ejercicio comparando ambos promedios

ejemplo:
                HP  Attack  Defense  Sp. Atk  Sp. Def  Speed
Legendary       99      90       89       91       94     90
No Legendary    80      95       75       12       43     87

'''

means = pd.DataFrame(list(zip(nl_means, lg_means)))
means.columns = ["Non Legendary", "Legendary"]
means.index = ["HP", "Attack", "Defense", "Sp. Atk", "Sp. Def", "Speed"]
means = means.T
print(means)

                      HP      Attack    Defense     Sp. Atk     Sp. Def  \
Non Legendary  67.182313   75.669388  71.559184   68.454422   68.892517
Legendary      92.738462  116.676923  99.661538  122.184615  105.938462

                    Speed
Non Legendary   65.455782
Legendary      100.184615

In [24]:
'''
11. Añade una nueva colunma ['Doble tipo'] al dataframe inicial que inndique si el pokemo tiene dos tipos o no
'''
df["Doble tipo"] = ~(df["Type 2"].isnull())

df.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Doble tipo
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,True
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,True
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,True
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,True
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False,True
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False,True
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False,True
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False,False

In [25]:
'''
12. Muestra las columas Name, Type 1, Type 2 de los pokémon que tienen dos tipos y ordenalos por Type 1 , Type 2 y Name
'''

two_types = df[df["Doble tipo"] == True]
two_types[["Name", "Type 1", "Type 2"]].sort_values(["Type 1", "Type 2", "Name"])

                        Name Type 1    Type 2
657               Galvantula    Bug  Electric
656                   Joltik    Bug  Electric
231                Heracross    Bug  Fighting
232  HeracrossMega Heracross    Bug  Fighting
697                 Larvesta    Bug      Fire
..                       ...    ...       ...
626               Carracosta  Water      Rock
240                  Corsola  Water      Rock
404                Relicanth  Water      Rock
625                 Tirtouga  Water      Rock
440                 Empoleon  Water     Steel

[414 rows x 3 columns]

In [26]:
from functools import reduce

'''
13. Dada una lista de Artículos con sus precio. Define las siguientes funciones:
Puedes definir más funciones si lo consideras necesario.
'''
articulos = {
    'Camisa': 20,
    'Pantalón': 30,
    'Calcetines': 5,
    'Zapatos': 50,
    'Gorra': 10,
    'Bufanda': 15,
    'Gafas': 25,
    'Reloj': 35,
    'Corbata': 40,
}

compra = ['Camisa', 'Pantalón', 'Pantalón', 'Gorra', 'Gafas', 'Corbata']


# A. Una función que calcule el precio total de la compra

def precio(compra):
    return reduce(lambda x, y: x+y, list(map(lambda x: articulos[x], compra)))

print(precio(compra))
# B. Una función que calcule el precio total de la compra con un descuento del 10%
def precio_descuento10(compra):
    precio_sin_descuento = precio(compra)
    return 0.9*precio_sin_descuento

print(precio_descuento10(compra))

# C. Una función que calcule el precio total de la compra con un descuento del 10% si la compra supera los 100€

def precio_pos_des(compra):
    precio_sin_descuento = precio(compra)
    if precio_sin_descuento > 100:
        precio_final = 0.9*precio_sin_descuento
    else:
        precio_final = precio_sin_descuento
    return precio_final

# D. Una función que calcule el precio total aplicando el IVA (21%)
def precio_iva(compra):
    precio_sin_iva = precio(compra)
    precio_con_iva = 1.21*precio_sin_iva
    return precio_con_iva

print(precio_iva(compra))

# E.lista los artículos cuyo precio es superior a 20€
def sup_20(compras):
    return list(filter(lambda x: articulos[x] > 20, compras))

print(sup_20(compra))

155
139.5
187.54999999999998
['Pantalón', 'Pantalón', 'Gafas', 'Corbata']

In [14]:
'''
14. Dada una lista de tuplas con el nombre de un alumno, apellidos, curso y sus notas. 

 Define una funcion que reciba el curso y saque una lista en la que aparezca e nombre y apellidos y el promedio de sus notas.
 Puedes definir más funciones si lo consideras necesario.
'''

alumnos = [('Juan', 'Pérez', '1', [5, 6, 7, 8, 9]),
            ('Ana', 'García', '2', [5, 6, 7, 8, 9]),
            ('Luis', 'González', '1', [5, 6, 7, 8, 9]),
            ('María', 'Martínez', '2', [5, 6, 7, 8, 9]),
            ('Pedro', 'Rodríguez', '1', [5, 6, 7, 8, 9]),
            ('Lucía', 'Hernández', '2', [5, 6, 7, 8, 9]),
            ('Marta', 'López', '1', [5, 6, 7, 8, 9]),
            ('Sara', 'Díaz', '2', [5, 6, 7, 8, 9]),
            ('Javier', 'Sánchez', '1', [5, 6, 7, 8, 9]),
            ('Miguel', 'Fernández', '2', [5, 6, 7, 8, 9]),
            ('Sergio', 'Jiménez', '1', [5, 6, 7, 8, 9]),
            ('Sandra', 'Ruiz', '2', [5, 6, 7, 8, 9]),
            ('Pablo', 'Álvarez', '1', [5, 6, 7, 8, 9]),
            ('María', 'Gómez', '2', [5, 6, 7, 8, 9]),
]

def avg(array):
    return sum(array)/len(array)

def alumno_avg(alumno):
    new_tuple = (alumno[0], alumno[1], alumno[2], avg(alumno[3]))
    return new_tuple
    
def get_students(curso, lista_alumnos):
    return list(map(lambda x: alumno_avg(x), (filter(lambda x: x[2] == curso, lista_alumnos))))

[]